@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-zinc-100 font-sans antialiased;
    overflow-x: hidden;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full hover:bg-primary transition-colors;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 240, 255, 0.5);
  }
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}
